@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* Primary Colors */
    --dark-cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    /* Neutral */
    --dark-gray: hsl(0, 0%, 59%);
}

html, * {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--desaturated-blue);
}

*::selection {
    background: var(--desaturated-blue);
    color: var(--dark-cyan);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--dark-cyan);
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 50vw;
    height: 80vh;
    perspective: 1000px;
}

h1 {
    font-size: 1.2rem;
}

h1 span {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grayish-blue);
    margin-left: 6px;
}

h2 {
    font-weight: 400;
    color: var(--dark-gray);
}

h3 {
    font-size: 1.05rem;
    margin-bottom: 5px;
}

p {
    font-size: .75rem;
    color: var(--dark-gray);
}

a {
    transition: .3s;
}

a:hover {
    color: var(--desaturated-blue);
}

img {
    border-radius: 50%;
    border: 5px solid #fff;
}

footer * {
    font-size: .75rem;
    color: #fff;
}

@keyframes showToUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(initial);
        opacity: initial;
    }
}